/* Setting up the responsive Grid container - auto-fit + minmax() */
.albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2em;
    margin: 0.2em;
}

/* Grid inside grid - album cards also use grid for layout setup */
.album {
    padding: 1.5em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1.5em;
    align-items: center;
}

/* Important step - image will spill over the container if width is not declared explicitly */
.album__artwork {
    width: 100%;
    border-radius: 0.4em;
}


.album__artist {
    text-transform: uppercase;
    letter-spacing: 0.7px;
}