$crumbs-back: #F3F5FA;
$text-color: #0c2541;

.crumbs {
    list-style: none;
    display: inline-table;
    li {
        display: inline;
         a {
            text-align: center;
            position: relative;            
            text-decoration: none;
            color: $text-color;
        }
    }
}